* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #B52184;
  --secondary-color: #312D64;
  --white: #fff;
  font-size: 62.5%;
}

body, html, input, textarea, button {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

#hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 10rem;
}

#hero .hero-image img {
  width: 100%;
}

#hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 0 1rem;
}

#hero .hero-title h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--primary-color);
}

#hero .hero-title p {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 2rem;
}

#hero .hero-cta {
  border: 3px solid var(--primary-color);
  background-color: var(--white);
  cursor: pointer;
  padding: 2rem 1rem;
  border-radius: 999px;
  transition: transform .2s ease;
}

#hero .hero-cta:hover {
  transform: scale(1.1);
}

/* Planet Tips */

#planet-tips {
  background-color: var(--secondary-color);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#planet-tips .card {
  background-color: var(--white);
  padding: 2.5rem;
  border-radius: 1.5rem;
}

#planet-tips .card h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 5rem;
  color: var(--primary-color);
}

#planet-tips .card p {
  color: var(--secondary-color);
  font-weight: 600;
}

/* Form section */
#form-area {
  padding: 7rem 4rem;
}
#form-area form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
#form-area form h1 {
  font-size: 3.2rem;
  color: var(--primary-color);
  font-weight: 800;
  line-height: 5rem;
}
#form-area .input-wrapper {
  height: 4.8rem;
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 1.5rem;
  position: relative;

  display: flex;
  align-items: center;
}
#form-area .input-wrapper img {
  position: absolute;
  left: 1rem;
}
#form-area .input-wrapper label {
  position: absolute;
  left: 5rem;

  transition: .3s ease;
}
#form-area .input-wrapper input {
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  border-radius: 1.5rem;
  padding-left: 4.8rem;
}
#form-area .input-wrapper input:focus {
  outline: 4px solid var(--secondary-color);
}
#form-area .input-wrapper input:focus~label,
#form-area .input-wrapper input:valid~label
{
  transform: translateY(-2.5rem);
  left: 3rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--white);
  padding: 0 .5rem;
  font-size: 1.8rem;
}

#form-area .textarea-wrapper textarea {
  width: 100%;
  height: 15rem;
  border: 2px solid var(--secondary-color);
  border-radius: 1.5rem;
  padding: 1rem;
}

#form-area .textarea-wrapper textarea:focus {
  outline: 3px solid var(--secondary-color);
}

#form-area .textarea-wrapper textarea::placeholder {
  color: var(--secondary-color);
  font-weight: 600;
}

#form-area button.send-form {
  width: 50%;
  padding: 1rem;
  background-color: var(--secondary-color);
  border: none;
  color: var(--white);
  border-radius: 1.5rem;
  cursor: pointer;
}

#form-area button.send-form:hover {
  filter: brightness(.9);
}

#form-area > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: none;
}

/* Footer */
footer {
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
}

/* Modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 80%);
}
#modal .modal-card {
  width: 80%;
  margin: auto;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  animation: entering .6s ease
}

@keyframes entering {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#modal .modal-card h1 {
  color: var(--primary-color);
  font-weight: 800;
}
#modal .modal-card p {
  font-weight: 600;
  color: var(--secondary-color);
}
#modal .close-modal {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2rem;
  top: 2.4rem;
  opacity: .8;
  cursor: pointer;
}

section#modal.hide {
  display: none;
}

@media (min-width: 768px) {
  #hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  #hero .hero-image {
    flex-basis: 50%;
  }
  #hero .hero-content {
    flex-basis: 50%;
  }
}
@media (min-width: 944px) {
  #planet-tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #form-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #form-area > img {
    display: block;
  }
}

@media (min-width: 1250px) {
  #hero .hero-image img {
    width: 90%;
  }
}